<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Torre prismática</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar_container">
                <a href="#home" id="navbar_logo">Torre Prismática</a>
                <div class="navbar_toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar_menu">
                    <li class="navbar_item">
                        <a href="#home" class="navbar_links" id="homepage">Home</a>
                    </li>
                    <li class="navbar_item">
                        <a href="#about" class="navbar_links" id="aboutpage">About</a>
                    </li>
                    <li class="navbar_item">
                        <a href="#services" class="navbar_links" id="servicepage">Services</a>
                    </li>
                    <li class="navbar_btn">
                        <a href="#sign-up" class="button" id="signup">Sign Up</a>
                    </li>

                </ul>


            </div>

        </nav>



    </header>
    <main class="hero" id="home">
        <div class="hero_container">
            <h1 class="hero_heading">Nesse mundo<br><span> de perigos</span></h1>
            <p class="hero_description">Tudo é possível!</p>
            <button class="main_btn"><a href="#">Explore</a></button> 
        </div>
    </main>    
        <div class="main" id="about">
            <div class="main_container">
                <div class="main_img-container">
                    <div class="main_img-card"><i class="fas fa-box-open"></i></div>
                </div>
                <div class="main_content">
                    <h1>Campanha de RPG DnD5e</h1>
                    <h2>História original</h2>
                    <p>Escrita por Alvaro com mais de 5 países e diversos NPC's</p>
                    <button class="main_btn"><a href="#">Candidate-se</a></button> 
                </div>
            </div>
        </div>
    <div class="services" id="services">
        <h1>Our Services</h1>
        <div class="services_wrapper">
            <div class="services_card">
                <h2>Custom Colorways</h2>
                <p>Ai Powered technology</p>
                <div class="services_btn"><button>Get Started</button></div>
            </div>
            <div class="services_card">
                <h2>Are you Ready?</h2>
                <p>Take the leap</p>
                <div class="services_btn"><button>Get Started</button></div>
            </div>
            <div class="services_card">
                <h2>Full Gradients</h2>
                <p>100 Combinations</p>
                <div class="services_btn"><button>Get Started</button></div>
            </div>
            <div class="services_card">
                <h2>Infinite Choices</h2>
                <p>1000's of colors</p>
                <div class="services_btn"><button>Get Started</button></div>
            </div>
        </div>
    </div>
    <div class="main" id="sign-up">
        <div class="main_container">
            <div class="main_content">
                <h1>Seja um aventureiro</h1>
                <h2>se inscreva hoje</h2>
                <p>Descubra os mistérios que espreitam esse mundo</p>
                <button class="main_btn"><a href="#">cadastre-se</a></button> 
            </div>
            <div class="main_img-container">
                <div class="main_img-card" id="card-2"><i class="fas fa-users"></i></div>
            </div>
        </div>
    </div>
    <footer class="footer_container">
        <div class="footer_links">
            <div class="footer_link-wrapper">
                <div class="footer_link-items">
                    <h2>Sobre nós</h2>
                    <a href="/sign-up">Como funciona</a>
                    <a href="/">Personagens</a>
                    <a href="/">Mestre</a>
                    <a href="/">Jogadores</a>
                </div>
                <div class="footer_link-items">
                    <h2>Fale conosco</h2>
                    <a href="/">Discord</a>
                    <a href="/">Whatsapp</a>
                    <a href="/">Roll 20</a>
                </div>
            </div>
            <div class="footer_link-wrapper">  
                <div class="footer_link-items">
                    <h2>Metagamming</h2>
                    <a href="/">Classes permitidas</a>
                    <a href="/">Raças permitidas</a>
                    <a href="/">Livros permitidos</a>
                </div>
            </div>      
            </div>
            <section class="social_media">
                <div class="social_media-wrap">
                    <div class="footer_logo">
                        <a href="/" id="footer_logo">Torre Prismática</a>
                    </div>
                    <p class="website_rights">© Torre prismática 2022. All rights reserved </p© Torre prismática 2022. All rights reserved>
                     <div class="social_icons">
                        <a href="/" class="social_icon-link" target="_blank"><i class="fab fa-discord"></i></a>
                        <a href="/" class="social_icon-link" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="/" class="social_icon-link" target="_blank"><i class="fab fa-d-and-d"></i></a>
                     </div>   
                </div>
            </section>
        </div>
    </footer>

</body>
<script src="app.js"></script>
</html>