<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-witdth, initial-scale=1.0">
    <title>Torre Prismática</title>
    <link  rel="stylesheet" type="text/css" href='style.css'>
</head>

<body>
  <header class="cabecalho">
    <img src="tower.png" alt="icone torre">
    <nav class="cabecalho-menu">
       <a class="cabecalho-menu-item">Home</a>
       <a class="cabecalho-menu-item">Personagens</a>
       <a class="cabecalho-menu-item">NPC's</a>
       <a class="cabecalho-menu-item">Saiba mais</a>
       
    </nav>    
   </header>

<main class="conteudo">
    <section>
        <div class="conteudo-main">
            <h1>Torre Prismática</h1>
            <p>Conheça o <strong>futuro</strong> maior grupo de aventureiros de todo o continente </p>
        </div>
        
    </section>
</main>

<footer class="conteudo-footer">

</footer>


</body>
</html>