@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    gap: 200px;
    background: #040b10;
 
}

.cabecalho-menu{
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: ABC Normal,"sans-serif";
    color: aliceblue;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.cabecalho-menu a:nth-child(4){
    color: #606ee4;
    font-weight: 400px;
}

.cabecalho-menu a:nth-child(5){
    padding-top: 10px;
    image-resolution: 24x24px;
    
}

.conteudo {
    display: flex;
    align-content: center;
    margin-top: 5px; 
}

.conteudo-main{
    display: flex;
    gap: 10px;
    align-content: center;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 200px;
    font-family: 'Michroma', sans-serif;
    color: aliceblue;
    font-weight: 400;
    

}

body{
     background-color: #040b10;
     font-size: 100%;
}

.conteudo-footer{
    margin-top: 500px;
}